# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://jqaqkymjacdnllytexou.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpxYXFreW1qYWNkbmxseXRleG91Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcwNDM5MDYsImV4cCI6MjA2MjYxOTkwNn0.LoJMnX2qO945At_Gebd7khYGsttudBJfiiC-XzM3-8I           

# AI Keys
GOOGLE_AI_API_KEY=AIzaSyDmdQQTq4xETLS1b8aorJE42Su1JCRqUac
TOGETHER_API_KEY=7e29bc06054033f87f922be69cb04292008475be425925557e72dbcd60a02e50
OPENROUTER_API_KEY=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
